@tailwind base;
@tailwind components;
@tailwind utilities;

body,
* {
	font-family: Figtree;
}

h1 {
	@apply text-3xl;
}

h2 {
	@apply text-2xl;
}

h3 {
	@apply text-xl;
}

.webkit-drag {
	-webkit-app-region: drag;
}

.webkit-none {
	-webkit-app-region: none;
}

.menu-button {
	@apply px-2 bg-base-100 hover:bg-opacity-100 bg-opacity-0 h-8 grid place-items-center;
}

.menu-close-button {
	@apply bg-red-600 px-2 hover:bg-opacity-100 hover:text-white bg-opacity-0 h-8 grid place-items-center;
}

::selection {
	@apply bg-base-content bg-opacity-25;
}

.repo-card {
	@apply p-2 border-b border-white border-opacity-5 select-none cursor-pointer overflow-y-auto;
}

.repo-card-color {
	@apply bg-base-100 bg-opacity-0 hover:bg-opacity-50;
}

::-webkit-scrollbar {
	@apply w-2;
}

::-webkit-scrollbar-track {
	@apply bg-base-300;
}

::-webkit-scrollbar-thumb {
	@apply bg-base-100 bg-opacity-50 hover:bg-opacity-100;
}

.source-code-pro > * {
	font-family: 'Source Code Pro', monospace;
}
